@CHARSET "UTF-8";
h3 {
	margin: 5px 0 0 0;
}

.alert {
	color: #090;
	font-weight: bold;	
}
.error {
	color: #D00;
	font-weight: bold;
}

.switcher {
	float: left;
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
	background-color: #eeeeff;
	font-weight: bold;
}
.active {
	background-color: #aaaaff;	
}
.clear {
	clear: both;
}

ul.top_links,ul.sub_links {
	background-color: #FA5;
	padding:3px 0;
	margin:0;
	border: 1px solid black;	
}
ul.sub_links {
	background-color: #AAA;	
}
ul.sub_links.other {
	background-color: #CCC;	
}
ul.top_links li, ul.sub_links li{
	display: inline;
	list-style: none;
	margin-right: 20px;
}